extends ../../layout

block content
	div(ng-controller="myAccountCtrl")
		.row
			.col-md-2
				ul.nav.nav-pills.nav-stacked#myAccountTabs(role="tablist")
					li.active(role="presentation")
						a(href="#myInformations" aria-controls="myInformations" role="tab" data-toggle="tab") Mes informations
					li(role="presentation")
						a(href="#myPostsShops" aria-controls="myPostsShops" role="tab" data-toggle="tab") Mes propositions
					li(role="presentation")
						a(href="#myNeedsShops" aria-controls="myNeedsShops" role="tab" data-toggle="tab") Mes demandes
					li(role="presentation")
						a(href="#") Mes messages
			.col-md-10
				.tab-content
					include myInformations.jade
					include myPostsShops.jade
					include myNeedsShops.jade

block scripts-header
	script(src="#{baseUrl}/javascripts/users/myAccount/myAccount-main.js")