.tab-pane#myPostsShops(role="tabpanel")
	div(ng-controller="myPostsShopsCtrl")
		.row
			div.col-xs-6(ng-repeat="r in myPostsShops")
				div.panel.panel-default.bgOrange
					div.panel-heading Shopping proposé par 
						b {{r.prenom}} {{r.nom | firstLetter}}.
					div.panel-body
						span.glyphicon.glyphicon-map-marker.iconOrange
						span
							b {{r.magasin}} 
							span - {{r.adresse}}
						br
						span.glyphicon.glyphicon-calendar.iconOrange
						b {{r.date | date:"dd/MM/yyyy"}}
						br
						span.glyphicon.glyphicon-user.iconOrange
						b {{r.nbShoppeur}} 
						span shoppeurs
						br
						span.glyphicon.glyphicon-shopping-cart.iconOrange
						b {{r.nbArticle | nbArticleLabel}} 
						span articles

block scripts-header
	script(src="#{baseUrl}/javascripts/users/myAccount/myAccount-myPostsShops.js") 