extends layout

block content
	h1 Foire aux questions
	h2 Premiers pas sur Shopmeout
	div.container
		div.panel-group#accordion
		.panel.panel-default
			.panel-heading
				h4.panel-title
					a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') Comment débuter sur Shopmeout
			#collapseOne.panel-collapse.collapse
				.panel-body
					| Shopmeout met en relations plusieurs personnes souhaitant faire des courses collaboratives. 
					br
					| Une personne peut proposer un déplacement, ainsi plusieurs personnes peuvent en profiter pour passer leur commandes de courses.

		.panel.panel-default
			.panel-heading
				h4.panel-title
					a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') Comment créer mon compte
			#collapseTwo.panel-collapse.collapse
				.panel-body
					| Pour créer son compte c'est très simple, il suffit de cliquer sur le lien "inscris-toi" en haut à droite.
					br
					| Il faut évidemment avoir un compte pour créer une demande ou une proposition de shopping !

block scripts
	script(src="#{baseUrl}/javascripts/index/index.js")