extends layout

block content
	.faq
		h1 Foire aux questions
		div
			div.panel-group#accordion
			.panel.panel-default
				.panel-heading
					h4.panel-title.blue
						a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') ShopMeOut c'est quoi ?
				#collapseOne.panel-collapse.collapse
					.panel-body
						| Shopmeout met en relation des 
						span.blue shoppeurs 
						| et des 
						span.orange bookeurs 
						| souhaitant faire des courses collaboratives. 
						br
						| Un 
						span.blue shoppeur 
						| propose d'aller faire un shopping dans un magasin et ainsi plusieurs 
						span.orange bookeurs 
						| peuvent en profiter pour lui donner leurs listes de courses.
						br

			.panel.panel-default
				.panel-heading
					h4.panel-title.orange
						a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') Comment créer mon compte ?
				#collapseTwo.panel-collapse.collapse
					.panel-body
						img(id="imgCI", src='#{baseUrl}/images/imgCI.gif', alt='')
						| Pour créer son compte c'est très simple, il suffit de cliquer sur "Inscris-toi !" en haut à droite.
						br
						| Et si tu as déjà un compte, tu peux te connecter en cliquant sur "Connecte-toi !" toujours en haut et à droite.
						br
						br
						| Il faut évidemment avoir un compte pour créer 
						span.blue proposition de shopping  
						| ou une 
						span.orange une demande de shopping !
						br

			.panel.panel-default
				.panel-heading
					h4.panel-title.blue
						a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree') Comment créer une proposition de shopping ?
				#collapseThree.panel-collapse.collapse
					.panel-body
						| Pour créer une proposition de shopping, il suffit de se rendre dans l'onglet 
						span.blue " Je propose un shopping !"
						|.
						br
						| Si tu es connecté(e), l'adresse renseignée lors de la création de ton profil sera pré-remplie automatiquement.
						br
						| Si tu souhaites effectuer un shopping dans une autre ville par exemple, tu peux renseigner une nouvelle adresse et cliquer sur la petite loupe juste à côté de la barre de recherche.
						br
						div(class="align-center")
							img(id="imgadress", src='#{baseUrl}/images/imgadress.gif', alt='')
						br
						| La recherche permet d'afficher une map sur laquelle tu devras sélectionner le magasin de ton choix.
						br
						img(id="imgmap", src='#{baseUrl}/images/map.gif', alt='')
						br
						| Cela te permet de voir si des 
						span.orange bookeurs 
						| ont besoin de toi pour aller faire des courses dans ce même magasin !
						br
						| Si tu souhaites effectuer un de leur shopping, tu peux directement cliquer sur "Réalise ce shopping" ce qui va te rediriger sur la liste de courses du 
						span.orange bookeur 
						| concerné.

			.panel.panel-default
				.panel-heading
					h4.panel-title.orange
						a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseFour') Comment créer une demande de shopping ?
				#collapseFour.panel-collapse.collapse
					.panel-body

block scripts
	script(src="#{baseUrl}/javascripts/index/index.js")