extends layout

block content
	div.angular-content(ng-controller="IndexCtrl" style="display:none;")
		#menu
			ul(class="nav nav-tabs nav-justified", id="indexNavTab", role="tablist")
				li.active
					a.item(href='#home', showtab="", data-toggle="tab", role="tab", aria-controls="home")
						span.glyphicon.glyphicon-home(aria-hidden='true')
				li
					a.item(href='#proposerShopping', data-toggle="tab", role="tab", aria-controls="proposerShopping") Je propose un shopping !
				li
					a.item(href='#demanderShopping', data-toggle="tab", role="tab", aria-controls="demanderShopping") Je demande un shopping !
		.tab-content
			#home.tab-pane.fade.in.active
				br
				.row
					.col-xs-6(ng-repeat="r in resultRandomPostShops")
						.panel.panel-default
							.panel-heading Shopping proposé par {{r.prenom}} {{r.nom | firstLetter}}.
							.panel-body
								p.glyphicon.glyphicon-map-marker {{r.magasin}} - {{r.adresse}}
								br
								p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
								br
								p.glyphicon.glyphicon-user {{r.nbShoppeur}}
								br
								p.glyphicon.glyphicon-shopping-cart
									span(ng-bind="getNbArticles(r.nbArticle)")
				.row
					.col-xs-6(ng-repeat="r in resultRandomNeedShops")
						.panel.panel-default
							.panel-heading Shopping demandé par {{r.prenom}} {{r.nom | firstLetter}}.
							.panel-body
								p.glyphicon.glyphicon-map-marker {{r.magasin}} - {{r.adresse}}
								br
								p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
								br
								p.glyphicon.glyphicon-user {{r.nbShoppeur}}
								br
								p.glyphicon.glyphicon-shopping-cart
									span(ng-bind="getNbArticles(r.nbArticle)")
			#proposerShopping.tab-pane.fade
				include ./postShop/proposerShopping.jade
			#demanderShopping.tab-pane.fade
				include ./needShop/demanderShopping.jade
				
block scripts
	script(type='text/javascript' src='#{baseUrl}/javascripts/index/index.js')