extends layout

block content
	div.angular-content(ng-controller="IndexCtrl" style="display:none;")
		#menu
			ul(class="nav nav-tabs nav-justified", id="indexNavTab", role="tablist")
				li.active
					a.item(href='#home', showtab="", data-toggle="tab", role="tab", aria-controls="home")
						span.glyphicon.glyphicon-home(aria-hidden='true')
				li
					a.item(href='#proposerShopping', data-toggle="tab", role="tab", aria-controls="proposerShopping") Je propose un shopping !
				li
					a.item(href='#demanderShopping', data-toggle="tab", role="tab", aria-controls="demanderShopping") Je demande un shopping !
		.tab-content
			#home.tab-pane.fade.in.active
				.row
					.col-md-12
						.explain
							h1 ShopMeOut : mes courses collaboratives !
							span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare metus feugiat libero luctus imperdiet. Proin ante lectus, pulvinar et consectetur at, posuere id sem. Cras euismod velit ut ipsum euismod, quis faucibus augue aliquam. Vivamus sed tellus varius orci volutpat placerat in vel augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eu mattis quam. Maecenas ullamcorper tellus sed magna mollis, eget accumsan dui euismod. Maecenas eu venenatis nisl, a auctor elit. Cras finibus justo sed augue mattis, quis porta urna lacinia. Curabitur hendrerit auctor dui at varius. Praesent non risus mi. Nunc euismod ex at turpis ornare elementum id eget felis. Cras laoreet velit quam. Aenean et nibh in tellus congue convallis quis sed metus. Vestibulum auctor ex a tortor consectetur, non tempor ante consequat. Quisque nunc metus, sollicitudin ac nisi at, mattis ullamcorper enim.
							span Aenean quis diam elit. Maecenas pretium aliquam nisl, sed tincidunt orci varius ut. Duis commodo viverra nunc, eu fermentum magna consectetur et. Morbi condimentum elit justo, quis scelerisque augue placerat in. Curabitur commodo fringilla lacinia. Nunc nisi diam, mollis ac urna vitae, ornare lobortis odio. Pellentesque consectetur facilisis felis, et consectetur lorem pharetra ut. Phasellus mattis scelerisque erat nec sollicitudin. Vestibulum vel eleifend ante, et blandit arcu. In hac habitasse platea dictumst. Pellentesque egestas ligula vel risus bibendum, eget lobortis turpis facilisis. Etiam sodales lectus sit amet sem suscipit placerat. Mauris tortor dui, rhoncus nec lectus non, volutpat aliquet ipsum.
				.row
					.col-md-12
						h2 Ils ont utilisé ShopMeOut !
				.row
					.col-sm-6
						label Les 3 dernières propositions de shopping :
						.row(ng-repeat="r in resultRandomPostShops")
							.col-md-12
								.panel.panel-default(class="bgOrange")
									.panel-heading Shopping proposé par {{r.prenom}} {{r.nom | firstLetter}}.
									.panel-body
										p.glyphicon.glyphicon-map-marker {{r.magasin}} - {{r.adresse}}
										br
										p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
										br
										p.glyphicon.glyphicon-user {{r.nbShoppeur}}
										br
										p.glyphicon.glyphicon-shopping-cart
											span(ng-bind="getNbArticles(r.nbArticle)")
					.col-sm-6
						label Les 3 dernières demandes de shopping :
						.row(ng-repeat="r in resultRandomPostShops")
							.col-md-12
								.panel.panel-default(class="bgBlue")
									.panel-heading Shopping demandé par {{r.prenom}} {{r.nom | firstLetter}}.
									.panel-body
										p.glyphicon.glyphicon-map-marker {{r.magasin}} - {{r.adresse}}
										br
										p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
										br
										p.glyphicon.glyphicon-user {{r.nbShoppeur}}
										br
										p.glyphicon.glyphicon-shopping-cart
											span(ng-bind="getNbArticles(r.nbArticle)")
			#proposerShopping.tab-pane.fade
				include ./postShop/proposerShopping.jade
			#demanderShopping.tab-pane.fade
				include ./needShop/demanderShopping.jade
block styles
	link(rel='stylesheet', href='#{baseUrl}/stylesheets/index.css')
block scripts
	script(type='text/javascript' src='#{baseUrl}/javascripts/index/index.js')