extends layout

block content
	div.angular-content(ng-controller="IndexCtrl" style="display:none;")
		#menu
			ul(class="nav nav-tabs nav-justified", id="indexNavTab", role="tablist")
				li.active
					a.item(href='#home', showtab="", data-toggle="tab", role="tab", aria-controls="home")
						span.glyphicon.glyphicon-home(aria-hidden='true')
				li
					a.item(href='#proposerShopping', data-toggle="tab", role="tab", aria-controls="proposerShopping") Je propose un shopping !
				li
					a.item(href='#demanderShopping', data-toggle="tab", role="tab", aria-controls="demanderShopping") Je demande un shopping !
		.tab-content
			#home.tab-pane.fade.in.active
				.row
					.col-md-4.col-lg-4.col-sm-6
						.thumbnail
							img(src='#{baseUrl}/images/test_dog.jpg', alt='MatchMeNow')
							.caption
								h3 Mon Shopping !
								p ...
								p
									button#btnshopcart.btn.btn-default(type='button', aria-label='Shopping cart')
										span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									button#btnsearch.btn.btn-default(type='button', aria-label='Search')
										span.glyphicon.glyphicon-search(aria-hidden='true')
					.col-md-4.col-lg-4.col-sm-6
						.thumbnail
							img(src='#{baseUrl}/images/test_dog.jpg', alt='MatchMeNow')
							.caption
								h3 Mon Shopping !
								p ...
								p
									button#btnshopcart.btn.btn-default(type='button', aria-label='Shopping cart')
										span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									button#btnsearch.btn.btn-default(type='button', aria-label='Search')
										span.glyphicon.glyphicon-search(aria-hidden='true')
					.col-md-4.col-lg-4.col-sm-6
						.thumbnail
							img(src='#{baseUrl}/images/test_dog.jpg', alt='MatchMeNow')
							.caption
								h3 Mon Shopping !
								p ...
								p
									button#btnshopcart.btn.btn-default(type='button', aria-label='Shopping cart')
										span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									button#btnsearch.btn.btn-default(type='button', aria-label='Search')
										span.glyphicon.glyphicon-search(aria-hidden='true')
			#proposerShopping.tab-pane.fade
				include ./proposerShopping.jade
			#demanderShopping.tab-pane.fade
				include ./demanderShopping.jade
				
block scripts
	script(type='text/javascript' src='#{baseUrl}/javascripts/index/index.js')