extends layout

block content
	div.angular-content(ng-controller="IndexCtrl" style="display:none;")
		#menu
			ul(class="nav nav-tabs nav-justified", id="indexNavTab", role="tablist")
				li.active
					a.item(href='#home', showtab="", data-toggle="tab", role="tab", aria-controls="home")
						span.glyphicon.glyphicon-home(aria-hidden='true')
				li
					a.item(href='#proposerShopping', data-toggle="tab", role="tab", aria-controls="proposerShopping") Je propose un shopping !
				li
					a.item(href='#demanderShopping', data-toggle="tab", role="tab", aria-controls="demanderShopping") Je demande un shopping !
		.tab-content
			#home.tab-pane.fade.in.active
				.row
					.col-md-12
						.explain
							h1 ShopMeOut : mes courses collaboratives !
							p Tu as besoin d’une course mais tu n’es pas dispo ?
							p Quelqu’un peut sûrement y aller pour toi !!!
							p Ta solution ?
							p Shop Me Out ou comment faire des courses collaboratives !
				.row
					.col-md-12
						.reasons
							h1 Les 2 bonnes raisons d'utiliser ShopMeOut !
							p bla bla bla
				div(class="usersOfSMO")
					.row
						div(ng-if="(resultRandomPostShops.length != 0) && (resultRandomNeedShops.length != 0)")
							.col-md-12
								.usersOfSMO
									h1 Ils utilisent ShopMeOut !
					.row(ng-if="resultRandomPostShops.length != 0")
						.col-md-10.col-md-offset-1
							.row
								.col-xs-4(ng-repeat="r in resultRandomPostShops")
									.panel.panel-default(class="bgOrange")
										.panel-heading Shoppeur {{r.prenom}} {{r.nom | firstLetter}}. propose
										.panel-body(class="resultCard")
											p.glyphicon.glyphicon-map-marker {{r.magasin}} - {{r.adresse}}
											br
											p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
											br
											p.glyphicon.glyphicon-user {{r.nbShoppeur}}
											br
											p.glyphicon.glyphicon-shopping-cart
												span {{r.nbArticle | nbArticleLabel}} articles
					.row(ng-if="resultRandomNeedShops.length != 0")
						.col-md-10.col-md-offset-1
							.row
								.col-xs-4(ng-repeat="r in resultRandomNeedShops")
									.panel.panel-default(class="bgBlue")
										.panel-heading Bookeur {{r.prenom}} {{r.nom | firstLetter}}. demande
										.panel-body(class="resultCard")
											p.glyphicon.glyphicon-map-marker A livrer au : {{r.adresse}}
											br
											p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
											br
											p.glyphicon.glyphicon-shopping-cart
												span {{r.nbArticle | nbArticleLabel}} articles
			#proposerShopping.tab-pane.fade
				include ./postShop/proposerShopping.jade
			#demanderShopping.tab-pane.fade
				include ./needShop/demanderShopping.jade
block styles
	link(rel='stylesheet', href='#{baseUrl}/stylesheets/index.css')
block scripts
	script(type='text/javascript' src='#{baseUrl}/javascripts/index/index.js')