#footer
	.nav.navbar.navbar-default.navbar-bottom
		.container-fluid
			li
				a(href="/mentions-legales") Mentions légales
			li 
				a(href="mailto:meoutshop@gmail.com") Contactez-nous
			li
				|ShopMeOut, 2016 
				span.glyphicon.glyphicon-copyright-mark(aria-hidden='true')