#footer
	.nav.navbar.navbar-default.navbar-bottom
		.container-fluid
			ul.nav.navbar-nav
				li
					a(href="/mentions-legales") Mentions légales
				li 
					a(href="mailto:meoutshop@gmail.com") Contactez-nous
			ul.nav.navbar-nav.navbar-right
				li
					p.navbar-text
						|ShopMeOut, 2016 
						span.glyphicon.glyphicon-copyright-mark(aria-hidden='true')