.page-header
	#logo
		div.logo
			img(src='images/Logo_Petit_Maquette.png' alt='Logo Shopmeout' width='75%')

	#infos
		div.concept
			a(href="http://www.google.fr")
				img(src='images/Bulle_concept.png' alt='Bulle Concept' width='50%')

	#connexion
		div.groupbtn
			button#btnconnexion.btn Connecte-toi !
			button#btnsignup.btn Inscris-toi !
			button#btnhelp.btn.btn-default(type='button', aria-label='Question Sign')
				span.glyphicon.glyphicon-question-sign(aria-hidden='true')