.page-header
	#logo
		a(href="/")
			img(src='images/Logo_Petit_Maquette.png' alt='Logo Shopmeout' width='75%')

	#infos
		img(src='images/Bulle_concept.png' alt='Bulle Concept' width='50%')

	#connexion.groupbtn
		a(href="/users/sign-in")
			button#btnconnexion.btn Connecte-toi !
		a(href="/users/sign-up")
			button#btnsignup.btn Inscris-toi !
		a(href="/")
			button#btnhelp.btn.btn-default(type='button', aria-label='Question Sign')
				span.glyphicon.glyphicon-question-sign(aria-hidden='true')