.page-header
	#bandeau
		ul(class="nav nav-tabs nav-center")
			li
				a.item(href="/",data-toogle="tab")
					img(src='images/Logo_Petit_Maquette.png' alt='Logo Shopmeout' width='75%')
			li
				a.item(href="/users/sign-in", data-toggle="tab") Connecte-toi !
			li
				a(href="/users/sign-up", data-toggle="tab") Inscris-toi !
			li
				a.item(href="/users/faq" data-toggle="tab")
					span.glyphicon.glyphicon-question-sign(aria-hidden='true')