#bandeau {
	font-family: Forte;
	font-size: large;
	width: 100%;
}

.navbar .navbar-collapse {
	text-align: center;
}

#logoHeaderLink {
	border: 0px !important;
}

#logoHeaderImg {
	margin: 3px 5px 0px 0px;
}