a {
	color: #0A68C0;
}

span.label {
	color:#000;
}

.align-center {
	text-align: center;
}

span.label {
	color:#000;
}

.control-label {
	margin-right:10px;
}

.centered-form {
	margin-top: 2%;
}

.centered-form .panel {
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.spinner {
	width: 20px;
	height: 5%;
}

#menu {
	font-family: Forte;
	font-size: 24px;
	padding: 20px, 0, 20px, 0;
	background-color: #222
	border-color:#080808;
	margin-top: 20px;
}

#images {
	margin-top: 10px;
	margin-left: 5px;
}

.spinner {
	width: 20px;
}

#menu {
	font-family: Forte;
	font-size: 24px;
	padding: 20px, 0, 20px, 0;
	background-color: #222
	border-color:#080808;
	margin-top: 20px;
}

#images {
	margin-top: 10px;
	margin-left: 5px;
}

#labelErrorAdresseRequis {
	margin-left: 1%;
}

#btnChangeAdresse {
	margin-left: 1%;
}

.date {
	width: 150px;
}

.inline-block {
	display: inline-block;
}

.btn-search {
	width: 200px;
}

.bgOrange.panel-default>.panel-heading {
	background-color: #FF6100;
	color: white;
}

.bgBlue.panel-default>.panel-heading {
	background-color: #0A68C0;
	color: white;
}