div(class="modal fade" id="MoreInfosPostShopModal" role="dialog")
	div(class="modal-dialog")

		// Modal content
		div.modal-content(ng-if="selectedProposition")
			div.modal-header
				button.close(type="button" data-dismiss="modal") &times;
				h4.modal-title Tu as des demandeurs qui ont reservé ce shopping ! Valide-les ci-dessous :
			div.modal-body

				.row(ng-if="selectedProposition.listBookeurs.length > 0")
					.col-xs-6(ng-repeat="bookeur in selectedProposition.listBookeurs")
						div.panel.panel-default.bgBlue
							div.panel-heading Réservation demandée par 
								b {{bookeur.prenomBookeur}} {{bookeur.nomBookeur | firstLetter}}.
							div.panel-body
								span.glyphicon.glyphicon-shopping-cart.iconBlue
								span.linkBlue(ng-click="openListArticles(bookeur)") 
									b {{bookeur.nbrArticleTotal }} 
									span article(s) demandé(s)
								span.btn.btn-default(ng-click="")
									| Accepter
									span(class = "glyphicon glyphicon-ok")
								span.btn.btn-default(ng-click="")
									| Refuser
									span(class = "glyphicon glyphicon-remove ")
			div.modal-footer
				button.btn.btn-default(type="button" data-dismiss="modal") Fermer

