div(class="modal fade" id="postShopModal" role="dialog" ng-controller="PostShopCtrl")
	div(class="modal-dialog")

		// Modal content
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal") &times;
				h4(class="modal-title") Proposer un shopping
			div(class="modal-body")
				div(class="row centered-form")
					div.panel-body
						span(class="alert alert-success col-xs-12" style="color:green", ng-show="postShop.$error.validate") Le shopping a bien été ajouté !
						span(class="alert alert-info col-xs-12") Magasin Sélectionné : {{selectedMagasin}}, {{adresseSelectedMagasin}}
						form(name="postShop", method="post", ng-submit="addPostShop()" novalidate)
							div.form-group
								div.row
									label(class="control-label col-xs-12" id="labelDistance") Distance de livraison :
								div.row
									div(class="btn-group col-xs-12" data-toggle="buttons-radio") 
										button(type="button" class="btn btn-primary" ng-model="data.distance" value='0' buttons-radio="" ng-click="removeErrorDistance()") Moins de 1 km
										button(type="button" class="btn btn-primary" ng-model="data.distance" value='1' buttons-radio="" ng-click="removeErrorDistance()") Jusqu'à 5 km
										button(type="button" class="btn btn-primary" ng-model="data.distance" value='2' buttons-radio="" ng-click="removeErrorDistance()") Jusqu'à 10 km
										button(type="button" class="btn btn-primary" ng-model="data.distance" value='3' buttons-radio="" ng-click="removeErrorDistance()") Plus de 10 km
										span(style="color:red", ng-show="postShop.$error.distanceError") la distance est obligatoire.
							div.form-group
								div.row
									label(class="control-label col-xs-12" id="labelNbShoppeur") Nombre de shoppeurs à livrer :
								div.row
									div(class="btn-group col-xs-12" data-toggle="buttons-radio") 
										button(type="button" class="btn btn-primary" ng-model="data.nbShoppeur" value='1' buttons-radio="" ng-click="removeErrorNbShoppeur()") 1 shoppeur
										button(type="button" class="btn btn-primary" ng-model="data.nbShoppeur" value='2' buttons-radio="" ng-click="removeErrorNbShoppeur()") 2 shoppeurs
										button(type="button" class="btn btn-primary" ng-model="data.nbShoppeur" value='3' buttons-radio="" ng-click="removeErrorNbShoppeur()") 3 shoppeurs
										button(type="button" class="btn btn-primary" ng-model="data.nbShoppeur" value='4' buttons-radio="" ng-click="removeErrorNbShoppeur()") 4 shoppeurs
										span(style="color:red", ng-show="postShop.$error.NbShoppeurError") le nombre de shoppeur est obligatoire.
							div.form-group
								div.row
									label(class="control-label col-xs-12" id="labelNbArticles") Nombre d'articles par shoppeur :
								div.row
									div(class="btn-group col-xs-12" data-toggle="buttons-radio") 
										button(type="button" class="btn btn-primary" ng-model="data.nbArticle" value='0' buttons-radio="" ng-click="removeErrorNbArticle()") Moins de 5 produits
										button(type="button" class="btn btn-primary" ng-model="data.nbArticle" value='1' buttons-radio="" ng-click="removeErrorNbArticle()") Jusqu'à 10 produits
										button(type="button" class="btn btn-primary" ng-model="data.nbArticle" value='2' buttons-radio="" ng-click="removeErrorNbArticle()") Plus de 10 produits
										span(style="color:red", ng-show="postShop.$error.NbArticleError") le nombre d'article est obligatoire.
							div.form-group
								div.row
									label(class="control-label col-xs-3 align-center" id="labelDate") Date du shopping
									div(class="col-xs-4")
										input(class="form-control input-sm", type="date", name="dateShopping", placeholder="Date du Shopping", ng-model="data.date" ng-model-options="{timezone:'-0000'}" required)
										span(style="color:red", ng-show="(postShop.dateShopping.$touched && postShop.dateShopping.$invalid) || postShop.$error.dateShopping") La date du shopping est obligatoire.
							br
							div(class="alert alert-danger", ng-show="postShop.$error.addPostShop")
								span(style="color:red" ) {{postShop.$error.message}}
							div.actions
								input(type="submit", value="Ajouter", class="btn btn-info btn-block")
							br
			div(class="modal-footer")
				button(type="button" class="btn btn-default" data-dismiss="modal") Fermer



