div.container(ng-controller="SearchPostShopCtrl")
	div(class="row centered-form")
		div(class="col-xs-12 col-sm-12 col-md-12")
			div(class="panel panel-default")
				div(class="panel-heading")
					h1(class="panel-title")="Rechercher une proposition de shopping"
				div.panel-body
					form(name="postshop", method="post", ng-submit="searchPostShop()" novalidate)
						div.row
								include ../users/signIn.jade
								include ./needShop/needShop.jade

block scripts-header
	script(src="#{baseUrl}/javascripts/postShop/search-postShop.js")
	script(src="#{baseUrl}/javascripts/needShop/needShop.js")