div(ng-controller="SearchNeedShopCtrl")
	div(class="row centered-form")
		div(class="col-xs-12 col-sm-12 col-md-12")
			div(class="panel panel-default")
				div(class="panel-heading")
					h1(class="panel-title")="Je recherche une demande de shopping !"
				div.panel-body
					form(name="needShop", method="post", ng-submit="searchNeedShop()" novalidate)
						div.row
							div(class="col-xs-2")
							div(class="col-xs-8")
								div.input-group
									input.form-control(type="text", ng-model="adresseField" placeholder="Adresse" my-enter="searchMapNeedShop()")
									span.input-group-btn
										button(type = "button" class = "btn btn-default" ng-click="searchMapNeedShop()")
											span(class = "glyphicon glyphicon-search")
								div#mapSearchNeedShop(class="col-sm-12 align-center" style="height:300px")
						br
						div(class="animate-show alert alert-danger", ng-show="needShop.$error.noMagasinSelected")
										span Sélectionne ton magasin sur la carte !
						div(class="alert alert-success", ng-show="needShop.$error.magasinSelected")
										span Magasin choisi : {{selectedMagasin}} - {{adresseSelectedMagasin}}
						div.align-center
							button#buttonValid(type = "button" class = "btn btn-default inline-block" ng-click="magasinChoisi()") Valide ton magasin !
						div.row
							br
							
						div.row(ng-show="needShop.$error.magasinSelected")
							div.form-group.align-center
								label(class="control-label" id="labelNbArticles") Distance de livraison :
								div(class="btn-group" data-toggle="buttons-radio") 
									button(type="button" class="btn btn-primary" ng-model="distance" value='0' buttons-radio="") Moins de 1 km
									button(type="button" class="btn btn-primary" ng-model="distance" value='1' buttons-radio="") Jusqu'à 5 kms
									button(type="button" class="btn btn-primary" ng-model="distance" value='2' buttons-radio="") Jusqu'à 10 kms
									button(type="button" class="btn btn-primary" ng-model="distance" value='3' buttons-radio="") Plus de 10 kms
							div.form-group.align-center
								label(class="control-label" id="labelNbArticles") Je veux livrer
								div(class="btn-group" data-toggle="buttons-radio")
									button(type="button" class="btn btn-primary" ng-model="nbArticle" value='5' buttons-radio="") Jusqu'à 5 produits
									button(type="button" class="btn btn-primary" ng-model="nbArticle" value='10' buttons-radio="") Jusqu'à 10 produits
									button(type="button" class="btn btn-primary" ng-model="nbArticle" value='1000' buttons-radio="") Plus de 10 produits
							div.col-xs-12
								br
							div.align-center.col-xs-12
								label(class="control-label") Date du shopping
								input(class="date form-control input-sm inline-block" type="date" name="date" ng-model-options="{timezone:'-0000'}" placeholder="Date" ng-model="date")
							div.row
								br
							div(class="actions align-center")
								br
								input(type="submit", ng-disabled="dataLoading", value="Rechercher", class="bgBlue btn btn-search")
						br
					div
						.col-md-10.col-md-offset-1
							.row(ng-if="resultRecherche")
								div(ng-show="needShop.$error.magasinSelected" class="btnBeforeSearch")
									button(type = "button" class = "btn btn-default btn-fixed" alt="Ajouter une proposition de Shopping" title="Ajouter une proposition de Shopping" data-toggle="modal" data-target=(isAuthenticated)?"#postShopModal":"#signInModal")
										span(class = "glyphicon glyphicon-plus-sign iconOrange" )
										span Ajoute ta proposition !
								div.col-xs-6(ng-repeat="r in resultRecherche")
									div.panel.panel-default.bgBlue
										div.panel-heading Shopping demandé par 
											b {{r.need.prenom}} {{r.need.nom | firstLetter}}.
										div.panel-body
											span.glyphicon.glyphicon-road.iconBlue
											span A livrer à 
											b {{r.need.distance/1000}}km 
											span du magasin
											br
											span.glyphicon.glyphicon-calendar.iconBlue
											b {{r.need.date | date:"dd/MM/yyyy"}}
											br
											span.glyphicon.glyphicon-shopping-cart.iconBlue
											span.linkBlue(ng-click="openListArticles(r)") 
												b {{r.need.nbArticle }} 
												span article(s)
											br
											br
											p.align-center
												span.align-center.btn.btn-default(ng-click="openBookNeedShop(r)" ng-disabled="r.var")
													| Réalise ce shopping ! 
													span(class = "glyphicon glyphicon-ok iconBlue")
								include ../needShop/listArticlesModal.jade
								include ./bookNeedShop.jade
							.row(ng-if="resultRecherche")
								div(ng-show="needShop.$error.magasinSelected" ng-if="resultRecherche.length != 0 && nbLignesResultRecherche > 2" class="btnBeforeSearch")
									button(type = "button" class = "btn btn-default btn-fixed" alt="Ajouter une proposition de Shopping" title="Ajouter une proposition de Shopping" data-toggle="modal" data-target=(isAuthenticated)?"#postShopModal":"#signInModal")
										span(class = "glyphicon glyphicon-plus-sign iconBlue" )
										span Ajoute ta proposition !
						div(ng-if="resultRecherche.length == 0 && erreurMessage" class="col-xs-12 animate-show alert alert-danger")
							span Il n'y a pas de résultats, désolé !
	include ./postShop.jade

block scripts-header
	script(src="#{baseUrl}/javascripts/needShop/search-needShop.js")
	script(src="#{baseUrl}/javascripts/postShop/postShop.js")