extends ../layout


block content
	div(ng-app="sample" ng-controller="ConsultProfileCtrl")
		div(class="panel panel-info")
			div(class="panel-heading")
				h3(class="panel-title") Bienvenue sur votre profil {{user.prenom}} !
			div(class="panel-body")
				div(class="row")
					div(class="col-md-9 col-lg-9")
						table(class="table table-user-information")
							tbody
								tr
									td Email:
									td {{user.email}}
								tr
								tr
									td Nom:
									td {{user.nom}}
								tr
								tr
									td Prénom:
									td {{user.prenom}}
								tr
									td Adresse:
									td {{user.adresse}}
								tr
								tr
									td Code Postal:
									td {{user.codePostal}}
								tr
								tr
									td Ville:
									td {{user.ville}}
								tr
								tr
									td Telephone:
									td {{user.telephone}}
								tr
								tr
									td Sexe:
									td {{user.sexe}}
								tr
								tr
									td Date de naissance:
									td {{user.dateNaissance | date:"dd/MM/yyyy"}}
								tr
								tr
									td Inscrit depuis le :
									td {{user.dateInscription | date:"dd/MM/yyyy"}}
								tr

block scripts
	script(src="/javascripts/users/userConsultProfile.js")