extends layout

block content
	div(ng-message="required") Champ requis
	div(ng-message="email") Cet e-mail est non valide
	div(ng-message="number") Caractères alphabétiques non autorisés
	div(ng-message="minlength") minlength
	div(ng-message="maxlength") maxlength

