extends ../layout

block content
	div.container(ng-app="sample" ng-controller="SignCtrl")
		div(class="row centered-form")
			div(class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4")
				div(class="panel panel-default")
					div(class="panel-heading")
						h1(class="panel-title")=title
					div.panel-body
						form(name="signin", method="post", ng-submit="connectClient()" novalidate)
							div.form-group
								label(for="login") Login
								input(type="email",class="form-control", id="email", placeholder="Entrez votre Email", ng-model="user.email")
							div.form-group
								label(for="password") Mot de passe
								input(type="password", class="form-control", id="password", placeholder="Entrez votre Mot de passe", ng-model="motDePasse")
							span(style="color:red", ng-show="signin.$error.login") {{signin.$error.message}}
							div.actions
								input(type="submit", value="Conexion", class="btn btn-info btn-block")
block scripts-header
	script(src="/javascripts/users/userSignIn.js")

