extends ../layout

block content
	div(ng-app="sample" ng-controller="SignCtrl")
		div(class="row centered-form")
			div(class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4")
				div(class="panel panel-default")
					div(class="panel-heading")
						h1(class="panel-title")=title
					div.panel-body
						form(name="signin", method="post", ng-submit="connectClient()" novalidate)
							div.form-group
								label(for="login") Login
								input(type="text",class="form-control", id="email", placeholder="Entrez votre Email", ng-model="user.email")
							div.form-group
								label(for="password") Mot de passe
								input(type="password", class="form-control", id="password", placeholder="Entrez votre Mot de passe", ng-model="motDePasse")
								br
								div(class="alert alert-danger", ng-show="signin.$error.login")
									span(style="color:red" ) {{signin.$error.message}}
							div.actions
								input(type="submit", ng-disabled="dataLoading", value="Connexion", class="btn btn-info btn-block")
							br
							div(style="text-align:center")
								img(ng-if="dataLoading" class="spinner" src="../spinner.gif")
block scripts-header
	script(src="/javascripts/users/userSignIn.js")

