div(class="modal fade" id="signInModal" role="dialog" ng-controller="SignInCtrl")
	div(class="modal-dialog")

		// Modal content
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal") &times;
				h4(class="modal-title") Connexion
			div(class="modal-body")
				div(class="row centered-form")
					div(class="col-xs-12")
						div.panel-body
							form(name="signin", method="post", ng-submit="connectClient()" novalidate)
								div.form-group
									label(for="login") Login
									input(type="text",class="form-control", id="email", placeholder="Entre ton login !", ng-model="user.email")
								div.form-group
									label(for="password") Mot de passe
									input(type="password", class="form-control", id="password", placeholder="Entre ton mot de passe !", ng-model="motDePasse")
									br
									div(class="alert alert-danger", ng-show="signin.$error.login")
										span(style="color:red" ) {{signin.$error.message}}
								div.actions
									input(type="submit", ng-disabled="dataLoading", value="Connexion", class="bgBlue btn btn-block")
								br
								.align-center(ng-if="dataLoading")
									img(class="spinner" src="#{baseUrl}/spinner.gif")
			div.row(class="modal-footer")
				.align-left.col-xs-8
					span.linkBlue(ng-click="openSignUp()") Pas encore inscrit(e) ? Inscris-toi !
				.col-xs-4
					button(type="button" class="btn btn-default" data-dismiss="modal") Fermer

