div(class="modal fade" id="bookShopModal" role="dialog" ng-controller="BookShopCtrl")
	div(class="modal-dialog")

		// Modal content
		div.modal-content(ng-if="propShop")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal") &times;
				h4(class="modal-title") Réserve ton shopping !
			div(class="modal-body")
				div
					p Shopping proposé par {{propShop.prenom}} {{propShop.nom}} le {{propShop.date | date:"dd/MM/yyyy"}}
					span {{propShop.nbArticle | nbArticleLabel}} articles possibles
				div(class="row centered-form")
					div.panel-body
						form(name="postShop", method="post", ng-submit="bookShop()" novalidate)
							div.form-group
								div.row
									label(class="control-label col-xs-12" id="labelAdresse") Ton adresse de livraison :
									input.form-control(type="text", ng-model="adresseField" placeholder="Adresse")
							div.form-group
								div.row

			div(class="modal-footer")
				button(type="button" class="btn btn-default" data-dismiss="modal") Fermer