div(ng-controller="SearchPostShopCtrl")
	div(class="row centered-form")
		div(class="col-xs-12 col-sm-12 col-md-12")
			div(class="panel panel-default")
				div(class="panel-heading")
					h1(class="panel-title")="Je recherche une proposition de shopping !"
				div.panel-body
					form(name="postshop", method="post", ng-submit="searchPostShop()" novalidate)
						div.row
							div(class="col-xs-2")
							div(class="col-xs-8")
								div.input-group
									input.form-control(type="text", ng-model="adresseField" placeholder="Adresse" my-enter="searchMapPostShop()")
									span.input-group-btn
										button(type = "button" class = "btn btn-default" ng-click="searchMapPostShop()")
											span(class = "glyphicon glyphicon-search")
								div#mapSearchPostShop(class="col-sm-12 align-center" style="height:300px")
						br 
						div(class="animate-show alert alert-danger", ng-show="postshop.$error.noMagasinSelected")
										span Veuillez sélectionner un magasin sur la carte
						div(class="alert alert-success", ng-show="postshop.$error.magasinSelected")
										span Magasin choisi : {{selectedMagasin}} - {{adresseSelectedMagasin}}
						div.align-center
							button#buttonValid(type = "button" class ="btn btn-default" ng-click="magasinChoisi()" ng-show="!showDiv") Valide ton magasin !
						div.row
							br
						div.row(ng-show="postshop.$error.magasinSelected")
							div.form-group.align-center
								label(class="control-label" id="labelNbArticles") Je veux me faire livrer
								div(class="btn-group" data-toggle="buttons-radio")
									button(type="button" class="btn btn-primary" ng-model="nbArticle" value='0' buttons-radio="") Moins de 5 produits
									button(type="button" class="btn btn-primary" ng-model="nbArticle" value='1' buttons-radio="") Jusqu'à 10 produits
									button(type="button" class="btn btn-primary" ng-model="nbArticle" value='2' buttons-radio="") Plus de 10 produits
									div.col-xs-2
									div.col-xs-3
									span(style="color:red", ng-show="postshop.$error.nbArticleRequired") Précise le nombre d'articles souhaités
						
							div.col-xs-12
								br
							div.align-center.col-xs-12
								label(class="control-label") Date du shopping
								input(class="date form-control input-sm inline-block" type="date" name="date" ng-model-options="{timezone:'-0000'}" placeholder="Date" ng-model="date")
							div.row
								br
							div(class="actions"  style="text-align: center")
									br
									input(style="display: inline-block; width: 200px" type="submit", ng-disabled="dataLoading", value="Rechercher", class="btn btn-info btn-block")
								div.align-center
									img(ng-if="dataLoading" class="spinner" src="../spinner.gif")
							div.row
								br
							div(class="actions align-center")
								br
							div.row
								.col-md-10.col-md-offset-1
									.row(ng-if="resultRecherche")
										br
										div.col-xs-6(ng-repeat="r in resultRecherche" ng-if="resultRecherche.length > 0")
											div.panel.panel-default.bgOrange
												div.panel-heading Shopping proposé par 
													b {{r.prenom}} {{r.nom | firstLetter}}.
												div.panel-body
													span.glyphicon.glyphicon-map-marker.iconOrange
													span
														b {{r.magasin}} 
														span - {{r.adresse}}
													br
													span.glyphicon.glyphicon-calendar.iconOrange
													b {{r.date | date:"dd/MM/yyyy"}}
													br
													span.glyphicon.glyphicon-user.iconOrange
													b {{r.nbShoppeur}} 
													span shoppeurs
													br
													span.glyphicon.glyphicon-shopping-cart.iconOrange
													b {{r.nbArticle | nbArticleLabel}} 
													span articles
													p.align-center
														a(href="#/demanderShopping?id={{r._id}}")
															button(type = "button" class = "btn btn-default" data-toggle="modal" data-target=(isAuthenticated)?"#bookPostShopModal":"#signInModal")
																| Reserver ce shopping 
																span(class = "glyphicon glyphicon-ok")
							div.col-xs-12(ng-if="resultRecherche.length == 0 && erreurMessage" class="animate-show alert alert-danger")
								span Il n'y a pas de résultat, désolé !
						div(ng-show="postshop.$error.magasinSelected")
							button(type = "button" class = "btn btn-default" data-toggle="modal" data-target=(isAuthenticated)?"#needShopModal":"#signInModal")
								span(class = "glyphicon glyphicon-plus-sign" )
								&nbsp;
								span Ajoute ta demande !
						div.row
							br
						div.row
							br
	include ../needShop/needShop.jade
	include bookPostShop.jade


block scripts-header
	script(src="#{baseUrl}/javascripts/postShop/search-postShop.js")
	script(src="#{baseUrl}/javascripts/needShop/needShop.js")
	script(src="#{baseUrl}/javascripts/postShop/bookPostShop.js")