div(ng-controller="SearchPostShopCtrl")
	div(class="row centered-form")
		div(class="col-xs-12 col-sm-12 col-md-12")
			div(class="panel panel-default")
				div(class="panel-heading")
					h1(class="panel-title")="Rechercher une proposition de Shopping"
				div.panel-body
					form(name="postshop", method="post", ng-submit="searchPostShop()" novalidate)
						div.row
							div(class="col-xs-2")
							div(class="col-xs-8")
								div.input-group
									input.form-control(type="text", ng-model="adresseField" placeholder="Adresse" my-enter="searchMapPostShop()")
									span.input-group-btn
										button(type = "button" class = "btn btn-default" ng-click="searchMapPostShop()")
											span(class = "glyphicon glyphicon-search")
								div#mapSearchPostShop(class="col-sm-12 align-center" style="height:300px")
						br 
						div(class="animate-show alert alert-danger", ng-show="postshop.$error.noMagasinSelected")
										span(style="color:red" ) Veuillez sélectionner un magasin sur la carte
						div(class="alert alert-success", ng-show="postshop.$error.magasinSelected")
										span(style="color:green" ) Magasin choisi : {{selectedMagasin}} - {{adresseSelectedMagasin}}
						div.row
							div(class="col-xs-5")
							div(class="col-xs-5")
								button#buttonValid(type = "button" class ="btn btn-default align-center" ng-click="magasinChoisi()" ng-show="!showDiv") Valider ce magasin
						br
						div.row(ng-show="postshop.$error.magasinSelected")
							div.align-center
								div.form-group
									label(class="control-label col-sm-5") Date du shopping
									div(class="col-sm-3")
										input(class="date form-control input-sm" type="date" name="date" ng-model-options="{timezone:'-0000'}" placeholder="Date" ng-model="date")
								br
							div.row
								div(class="col-xs-12 col-sm-12 col-md-12")
									br
									div.form-group
										label(class="control-label col-sm-5" id="labelNbArticles") Je veux me faire livrer
										div(class="btn-group" data-toggle="buttons-radio")
											button(type="button" class="btn btn-primary" ng-model="nbArticle" value='0' buttons-radio="" ng-click="checkNbArticlesRequired()") Moins de 5 produits
											button(type="button" class="btn btn-primary" ng-model="nbArticle" value='1' buttons-radio="" ng-click="checkNbArticlesRequired()") Jusqu'à 10 produits
											button(type="button" class="btn btn-primary" ng-model="nbArticle" value='2' buttons-radio="" ng-click="checkNbArticlesRequired()") Plus de 10 produits
									div.col-xs-2
									div.col-xs-3
									span(style="color:red", ng-show="postshop.$error.nbArticleRequired") Veuillez préciser le nombre d'articles souhaités
							
								div(class="actions"  style="text-align: center")
									br
									input(style="display: inline-block; width: 200px" type="submit", ng-disabled="dataLoading", value="Rechercher", class="btn btn-info btn-block")
								div.align-center
									img(ng-if="dataLoading" class="spinner" src="../spinner.gif")
								br
							div.row
								br
							div.row
								.col-md-10.col-md-offset-1
									.row
										div.col-xs-6(ng-repeat="r in resultRecherche" ng-if="resultRecherche.length > 0")
											div.panel.panel-default
												div.panel-heading Shopping proposé par {{r.prenom}} {{r.nom | firstLetter}}.
												div.panel-body
													p.glyphicon.glyphicon-map-marker {{r.magasin}} - {{r.adresse}}
													br
													p.glyphicon.glyphicon-calendar {{r.date | date:"dd/MM/yyyy"}}
													br
													p.glyphicon.glyphicon-user {{r.nbShoppeur}}
													br
													p.glyphicon.glyphicon-shopping-cart
														span(ng-bind="getNbArticles(r.nbArticle)")
							div.row
								div(ng-if="resultRecherche.length == 0 && erreurMessage" class="animate-show alert alert-danger")
									span(style="color:red" ) Il n y a pas de résultats, désolé !
							div.row
								div(ng-show="postshop.$error.magasinSelected")
										button(type = "button" class = "btn btn-default" data-toggle="modal" data-target=(isAuthenticated)?"#needShopModal":"#signInModal")
											span(class = "glyphicon glyphicon-plus-sign" )

include ../needShop/needShop.jade
include ../users/signIn.jade


block scripts-header
	script(src="#{baseUrl}/javascripts/postShop/search-postShop.js")
	script(src="#{baseUrl}/javascripts/needShop/needShop.js")