div(class="modal fade" id="listArticlesModal" role="dialog")
	div(class="modal-dialog")

		// Modal content
		div.modal-content(ng-if="selectedDemande")
			div.modal-header
				button.close(type="button" data-dismiss="modal") &times;
				h4.modal-title Liste des articles demandés par {{selectedDemande.prenom}} {{selectedDemande.nom | firstLetter}}. le {{selectedDemande.date | date:"dd/MM/yyyy"}}
			div.modal-body
				include ./listArticles.jade
			div.modal-footer
				button.btn.btn-default(type="button" data-dismiss="modal") Fermer

