div(class="modal fade" id="needShopModal" role="dialog" ng-controller="NeedShopCtrl")
	div(class="modal-dialog")

		// Modal content
		div(class="modal-content")
			div(class="modal-header")
				button(type="button" class="close" data-dismiss="modal") &times;
				h4(class="modal-title") Demander un shopping
			div(class="modal-body")
				div(class="row centered-form")
					div.panel-body
						span(class="alert alert-info col-xs-12") Magasin Sélectionné : {{selectedMagasin}}, {{adresseSelectedMagasin}}
						form(name="needShop", method="post", ng-submit="addNeedShop()" novalidate)
							div.form-group
								div.row
									label(class="control-label col-xs-12" id="labelArticles") Ajouter un article :
								div.row
									div(class="col-xs-6")
										input(class="form-control input-sm", type="text", name="nomArticle", placeholder="Nom de l'article", ng-model="nomArticle" ng-keydown="resetErreur()")
									div(class="col-xs-3")
										input(class="form-control input-sm", type="number", name="nbrArticle", placeholder="Nombre d'article", ng-model="nbrArticle")
									div(class="col-xs-3")
										button(type="button" class="btn btn-primary" ng-click="addArticle()") Ajouter
								div.row
									div(class="col-xs-12")
										span(style="color:red", ng-show="errorArticleInvalid") Article invalide.
								div.row
									div(class="col-xs-12")
										table(class="table table-striped" ng-show='displayTable')
											thead
												tr
													th 
														b Article
													th 
														b Quantité
											tbody
												tr(ng-repeat="article in articles")
													td
														{{article.nomArticle}}
													td
														{{article.nbrArticle}}
													td
														span(class="glyphicon glyphicon-remove" style="color:red" ng-click='removeArticle($index)')
									div(class="col-xs-12")
										b Nombre total d'article : 
										{{nbrTotalArticles}}
									span(style="color:red", ng-show="needShop.articles.$invalid || needShop.$error.articles") La liste d'articles ne peut pas etre vide.
							div.form-group
								div.row
									label(class="control-label col-xs-12" id="labelAdresse") Mon adresse de livraison :
								div.row
									div(class="col-xs-12")
										input(class="form-control input-sm", type="text", name="adresse", placeholder="Votre adresse de livraison", ng-model="adresse" required)
										span(style="color:red", ng-show="needShop.adresse.$invalid || needShop.$error.adresse") L'adresse est obligatoire.
							div.form-group
								div.row
									label(class="control-label col-xs-12 align-center" id="labelDate") Date du shopping :
								div.row
									div(class="col-xs-12")
										input(class="form-control input-sm", type="date", name="date", placeholder="Date du Shopping", ng-model="data.date" ng-model-options="{timezone:'-0000'}" required)
										span(style="color:red", ng-show="needShop.$error.date") La date du shopping est obligatoire.
							br
							div
								span(class="col-xs-12 alert alert-danger", ng-show="needShop.$error.addNeedShop") {{needShop.$error.message}}
								span(class="col-xs-12 alert alert-success", ng-show="needShop.$error.validate") La demande de shopping a bien été ajoutée !
							div.actions
								input(type="submit", value="Ajouter", class="btn btn-info btn-block")
							br
			div(class="modal-footer")
				button(type="button" class="btn btn-default" data-dismiss="modal") Fermer
